:root{
    --cor-ods: #C5192D;          
    --cor-ods-hover: #a31222;    
    --fundo-canvas: #F1F5F9;     
    --fundo-card: #FFFFFF;       
    --texto-principal: #1E293B;  
    --texto-secundario: #64748B; 
    --borda: #E2E8F0;            
    --footer-fundo: #1E293B;     



    --fonte-principal: 'Inter', sans-serif;
    --font-optical-sizing: auto;
    --font-weight: 400;
    --font-style: normal;

    --max-width: 2400px;
}
